<div class="container grid-lg">
  <div class="columns">
    <div class="column col-xs-12">
        <div class="hero">
            <h1>Flick</h1>
            <h2>Flick is a fullstack development platform to generate, develop and deploy web applications and microservices.</h2>
            <a href="https://github.com/PetrNikolas/flick" target="_blank" class="btn btn-primary">Download</a>
        </div>
    </div>
  </div>
</div>