<header class="navbar">
    <section class="navbar-section">
        <a href="https://github.com/PetrNikolas/flick" target="_blank" class="btn btn-link">Docs</a>
    </section>

    <section class="navbar-center">
        <a href="/" class="btn btn-link">FLICK</a>
    </section>
    
    <section class="navbar-section">
        <a href="https://twitter.com/PetrNikolas" target="_blank" class="btn btn-link">Twitter</a>
        <a href="https://github.com/PetrNikolas" target="_blank" class="btn btn-link">GitHub</a>
    </section>
</header>