<div class="container grid-lg">
  <div class="columns">
    <div class="column col-12">
        <div class="hero">
            <h1>Posts</h1>
        </div>
    </div>

    <% if posts.any? %>
        <div id="posts" class="column col-12">
            <% posts.each do |post| %>
                <div class="panel post">
                    <div class="panel-header">
                        <div class="panel-title"><%= post.title %> | <%= post.author %></div>
                    </div>

                    <div class="panel-body">
                        <p>
                            <%= post.description %>
                        </p>

                        <p>
                            <%= post.content %>
                        </p>
                    </div>

                    <div class="panel-footer">
                        <a href="/posts" class="btn">Read more</a>
                    </div>
                </div>
            <% end %>
        </div>
    <% else %>
        <div class="column col-12">
            <p class="placeholder">There are no posts yet.</p>
        </div>
    <% end %>
  </div>
</div>