body {
    font-family: Helvetica, sans-serif;;
    margin: 0;
    min-height: 100vh;
}

body,
html,
#root {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #888;
}
